mat-card {
    min-width: 10em;
    max-width: 25em;
    width: 100%;
    background-color: #3f51b5;    
}

.numberSpan {
    border: 0.0025em solid white;
    padding: 0.25em;
    margin: 0.5em;
    color: white;
}

.superzahlSpan {
    border: 0.0025em solid red;
    padding: 0.25em;
    margin: 0.5em;
    font-weight: bold;
    color: red;
    font-size: larger;
}