<div class="appContainer">
  <h1 class="appHeader">Lottery app</h1>
  <p>This app helps you create lottery tickets. Use the form below to choose the number of boxes to be created, click
    the checkbox to include the "Superzahl" number and receive your ticket combination. Good luck! :)</p>

  <mat-form-field class="formField">
    <mat-label>Number of boxes to be generated</mat-label>
    <input matInput type="text" [(ngModel)]="boxesNo" class="boxestNoInput">
    @if (boxesNo) {
    <button matSuffix mat-icon-button (click)="boxesNo=''">
      <mat-icon>close</mat-icon>
    </button>
    }
  </mat-form-field>
  <mat-checkbox class="checkbox" color="primary" [(ngModel)]="includeSuperzahl">Include Superzahl</mat-checkbox><br />

  <button mat-raised-button color="primary" (click)="generateTicket()" [disabled]="!boxesNo">Draw
    ticket</button><br /><br />
  @if (ticket.boxesArray) {
  <app-ticket [ticket]="ticket" />
  }
  <mat-divider />
  <h3>Tickets list</h3>
  <mat-list role="list">
    @for (ticket of savedTicketsArray; track ticket) {
    <mat-list-item role="listitem" (click)="getTicketById(ticket.id)">Ticket number {{ticket.id}}</mat-list-item>
  }
  </mat-list>
</div>