.appContainer {
    background-color: white;
    margin: 5em 10em 5em 10em;
    padding: 2em;
}

.appHeader {
    padding-left: 1em;
    padding-bottom: 0.25em;
}

.ticketNoInput {
    width: 10em;
}

.formField {
    min-width: 10em;
    max-width: 30em;
    width: 100%;
}

.checkbox {
    padding-left: 2em;
}

.generateButton {
    margin-bottom: 2em;
}

mat-divider {
    padding-bottom: 1.2em;
}

button.deleteButton {
    margin-left: 1em;
}